@{
    ViewData["Title"] = "Confirm email";
}

<section class="bg-transparent text-body mb-0 mt-3">
    <div class="container">
        <h3>@ViewData["Title"]</h3>
        <div>
            <p>
                Thank you for confirming your email.
            </p>
        </div>
    </div>
    </section>
        
