@{
    ViewData["Title"] = "Forgot password confirmation";
}

<section class="bg-transparent text-body mb-0 mt-3">
    <div class="container">
        <h3>@ViewData["Title"]</h3>
        <p>
            Please check your email to reset your password.
        </p>
    </div>
</section>

