@{
    ViewData["Title"] = "Locked out";
}

<section class="bg-transparent text-body mb-0 mt-3">
    <div class="container">
        <header>
            <h3 class="text-danger">@ViewData["Title"]</h3>
            <p class="text-danger">This account has been locked out, please try again later.</p>
        </header>
    </div>
</section>

