@{
    ViewData["Title"] = "Signed out";
}

<section class="bg-transparent text-body mb-0 mt-3">
    <div class="container">
        <h3>@ViewData["Title"]</h3>
        <p>
            You have successfully signed out.
        </p>
    </div>
</section>


