@{
    ViewData["Title"] = "Banco de Talentos";
}

<section class="bg-transparent text-body mb-0 mt-3">
    <div class="container">
        <div class="row mb-lg-5">
            <div class="col-md-6 offset-md-4">
                <h3>@ViewData["Title"]</h3>
            </div>

            <div class="col-lg-12">
                <div class="embed-responsive embed-responsive-16by9 mb-5">
                    <iframe src="https://www.youtube.com/embed/Q4UA8oate_I" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-lg-12">
                We appreciate your contact, check that you do not need to fill out the full form if already has this information on its linkedin, and check out the links at the end of the tutorials (developers).
                <br />
                Já agradecemos o seu contato, confira que você não precisa preencher o formulário completo caso já tenha essas informações no seu linkedin, e no final confira os links dos tutoriais (desenvolvedores).
            </div>
            <div class="col-md-12 offset-md-5 mt-5">
                <a asp-action="Create" asp-controller="People" class="btn-lg fa-2x btn-primary">
                    <span title="Start" class="fa fa-play"></span> Start
                </a>


            </div>
        </div>
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h3>How we work / Como Trabalhamos</h3>
            </div>
            <div class="col-lg-12">
                <a href="https://docs.google.com/document/d/145QuJ8-efr-pmNGV-2DOOGHD-1dc3MERSeL5g0XoqmM" target="_blank">Tutorial</a>
            </div>
        </div>
    </div>
</section>


        
